body {
    background-image : url("res/bg.png");
	background-repeat : repeat;
}

.container.content{
	
}
canvas { 
   width: 35%;
   height: 85vh;
   left:30%;
   top:10vh;
   border : 1px solid;
    position: fixed;
    background-color : white;
}